/* Style.css 
Rupak Kannan
4/2/2021*/

body{
	/*background: url(images/background2.jpg);*/
	background: url(images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;

	margin:0;
	color:lightblue;
	font-family: 'Abel', sans-serif;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	
}

html{
	scroll-behavior: smooth;
}

nav {
	background-color: #172A3A;
	padding:5px;
	text-align:center;
	}
	
nav a{ 
		color:lightblue;
		text-decoration:underline;
		display:inline;
		font-size:20px;
		padding:2px;
		margin:auto;
	}
	
.topnav {
		position:fixed;
		width:100%;
		overflow: hidden;
		z-index:1;
		background-color:#172A3A;
	  }

.topnav p{
	float:right;
	margin-right:80px;
	font-size:17px;
}
	  
.topnav a {
		float: left;
		color: #74B3CE;
		display:inline;
		text-align: center;
		padding: 27px 17px;
		text-decoration: none;
		font-size: 17px;
	  }
	  
.topnav a:hover {
		background-color:#74B3CE;
		color: #172A3A;
	  }

.Name{
	color:#74B3CE;
	display:inline;
	height:auto;
	display:block;
	position:relative;
	top:30px;
}


#selfie{
	position:relative;
	float:left;
	margin-left:330px;
	width:260px;
	height:310px;
	top:36px;
	z-index:-1;
	clear:both;
}

#description{
background-color:#172A3A;
text-align:center;
min-width:500px;
max-height:100%;
border:4px solid #172A3A;
border-collapse:collapse;
position:relative;
margin-top:140px;
padding:30px;
font-size:25px;
color:lightblue;
}

#inline{
	display: inline-block;
	padding:20px;
	text-align:center
}

#container{
	display: flex;
	flex-wrap: wrap;

	margin: 0 auto;
	background:#74B3CE;
	display:block;
	border: none;
    border-radius:40px;
	margin-top:400px;
	overflow:hidden;
 }


.header{
	color:#172A3A;
	font-size:100px;
}


form{
	display:inline-block;
}

.button {
  background-color: #004346;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:lightblue;
}

iframe{
	overflow:auto;
	display:block;
	margin:auto;
}

.project_des{
	-webkit-flex: 1 3 140px;	
	flex: 1 3 140px;
	font-size:25px; 
	color:#172A3A;
}

h1 {
	color:#004346;
	text-align:center;
}


.education {
	background-color:white;
	overflow:auto;
	width:100%;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	margin-top:10px;
	border-radius:20px;
}

input{
	-webkit-flex: 1 3 140px;	
	flex: 1 3 140px;
	font-size:25px; 
	color:#172A3A;
}

textarea{
	-webkit-flex: 1 3 140px;	
	flex: 1 3 140px;
	font-size:25px; 
	color:#172A3A;
	font-family:'Abel', sans-serif;
}


.contact {
	background-color:#57949E;
	display: flex;
	flex-wrap: wrap;
	width:95%;
	margin: 0 auto;
	margin-bottom:100px;
	display:block;
	border: none;
	border-radius:40px;
	margin-top:100px;
	margin-bottom:100px;
	overflow:hidden;
 }

 
#msg{
	width: 80%;
	margin-left: 40px;
	height: 130px;
	padding: 12px 10px;

}



.credit {
	background-color: #172A3A;
	text-align:center;
	float:right;
	margin-right:auto;
	width:100%;
}


.credit td{
	color:#57949E;
	font-size:20px;
	
}

.credit th{
	color:#57949E;
	font-size:20px;
	font-weight:lighter;
	
}

.contact th a{
	font-size:15px;
}


.social{
	width:42px;
	height:38px;
}

.social:hover{
	transition: all 0.4s linear;
	opacity:0.7;
}


@media (max-width: 630px) {

	#selfie {
		margin-left:auto;
		top:70px;
		width:260px;
		height:310px;
	}
  }


@media (max-width: 750px) {

	#selfie {
		margin-left:auto;
		top:60px;
		width:260px;
		height:320px;
	}

	
  }

@media (max-width: 780px) {

	#selfie {
		margin-left:auto;
		top:40px;
		width:260px;
		height:320px;
	}

	
  }

@media (max-width: 830px) {

	#selfie {
		margin-left:auto;
		top:70px;
		width:260px;
		height:320px;
	}
	.topnav p{
		display:none;
	}
  }

@media (max-width: 960px) {

	#selfie {
		margin-left:auto;
		top:40px;
		width:260px;
		height:320px;
	}
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px){
	.calendar{
		width:80%;
	}
}
/*desktops*/
@media only screen and (min-width: 896px) {
	
	body{
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size:cover;
	}
	
	iframe{
		float:left;
		margin-left:30px;
	}

	.calendar{
		width:40%;
	}
  }
