/* Style.css 
Rupak Kannan
4/2/2021*/

body{
	background-color:#74B3CE;
	margin:0;
	color:lightblue;
}

#selfie{
float:left;
border: 4px solid #004346;
border-collapse:collapse;
background-color:#EAF0CE;
max-width:20%;
max-height:20%;
}

#description{

background-color:#172A3A;
text-align:center;
border:4px solid #004346;
border-collapse:collapse;
margin-bottom:auto;
padding:30px;
font-size:25px;
font-family: Arial, Helvetica, serif;
color:lightblue;
}

#inline{
	display: inline-block;
	padding:20px;
	text-align:center
}

.header{
	font-size:25px;
	font-family: Arial, Helvetica, serif;
	color:#416F76;

}

#explaination{
	margin-right:auto;
	padding-left:360px;
}



form{
	display:inline-block;
}

.button {
  background-color: #004346;
  border: none;
  color: #09BC8A;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:lightblue;
}

iframe {
	display:block;
	margin:auto;
	overflow: hidden;
	background-color:#74B3CE;
}

h1 {
	font-size:25px;
	text-decoration:underline;
	text-align:center;
	color:#004346;
}


table {
	background-color:#416F76;
	text-align:center;
	float:right;
	margin-right:auto;
}


td{
	color:#172A3A;
	
}

td a{
	color:#172A3A;
}

nav {
background-color: blue;
background-color: #172A3A;
padding:5px;
text-align:center;
}

nav a{ 
	color:lightblue;
	text-decoration:underline;
	display:inline;
	font-size:20px;
	padding:2px;
	margin:auto;
}
